/*
* -----------------------------------------------------------------------------
* GENERAL
* -----------------------------------------------------------------------------
*/

html {
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0 50px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
    }
}

/*
* -----------------------------------------------------------------------------
* HERO
* -----------------------------------------------------------------------------
*/

.hero {
    padding: 100px 0;
    height: 100vh;
}

.hero__title {
    font-size: 3em;
    padding-bottom: 50px;
}

.hero__img {
    height: 70vh;
    max-width: 100%;
    object-fit: contain;
    object-position: left;
}

@media (max-width: 991px) {
    .hero__img {
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .hero {
        padding: 50px 0 0;
    }

    .hero__title {
        font-size: 2em;
    }

    .hero__img {
        height: 50vh;
    }
}

/*
* -----------------------------------------------------------------------------
* CHARTS
* -----------------------------------------------------------------------------
*/

.element {
    padding: 100px 0;
}

.element__title {
    font-size: 2em;
    padding-bottom: 30px;
}

.element__chart {
    width: 100%;
    height: calc(100vh - 300px);
}

#chartOne {
    border: solid 1px #E2E2E2;
}

@media (max-width: 767px) {
    .element {
        padding: 50px 0;
    }

    .element__title {
        font-size: 1.5em;
    }
}